/* Color */

$white-grey : #fafafa;
$white : #ffffff;
$blue : #34414a;
$grey : rgba(70, 87, 99, 0.85);
$brown : #a65447;

/* Font */

$openSans : 'Open Sans';
$merriweather : 'Merriweather';


/* General */

body {
	background-color: $white-grey ;
	font-family: $openSans ;
}


a{
	color:$brown;
	text-decoration: underline;
}

a:link{
	color:$brown;
	text-decoration: underline;
}

h1,
h2,
h3,
h4{
	font-family: $merriweather ;
	font-weight: bold;
}

h1{
	font-size:29px;
}

h2{
	font-size:24px;
}

h3{
	font-size:18px;
}

button{
	border: solid 2px rgba(70, 87, 99, 0.65);
	height: 40px;
	text-transform: uppercase;
}

.flex{
	display:flex;
}

.auto{
	margin:auto;
}


/* Menu */

ul{

	&.menu_horizontal{
		list-style-type : none; 
		text-transform: uppercase;
	
		li {
			display : inline;
			padding : 0 20px; 
			text-align:center;

			img:first-child {
		    	height:65px;
				display : inline;
				margin-left:-60px;
			}
			a{
				text-decoration:none;
				color : #333;
			}
		}
		li:nth-child(2) {
	 		margin-left: 190px;
		}
		li span:last-child{
	 		position: absolute;
			margin-left: -60px;
			margin-top: 45px;
		}
		.underLogo{
			font-size: 10px;
	  		color: $grey;
	  		margin-top:-20px;
	  		text-transform: none;
	  		margin-left: -60px !important;
		}
	} 
		
}

.searchEvent{
	cursor:pointer;
	width:80px;
	height:80px;
	padding-top:10px;
}

.menuEvent{
	cursor:pointer;
	width:80px;
	height:80px;
	padding-top:10px;
}

.activeSearch{
	background-color:$brown;
	color:$white;
}

.activeMenu{
	background-color:$blue;
	color:$white;
}

.searchHidden{
	background-color : $brown ;
	text-align:center;
	color : $white ;
	height: 150px;
	// display: flex; 
	position:absolute;
	z-index:3;
	display:none;
	margin-top:-10px;

	.searchChild{
		margin:auto;

		a:link{
			color : $white ;
			text-decoration: underline;
		}
		a{
			color : $white ;
			margin:auto;
		}
		input{
			width: 500px;
  			height: 50px;
  			border: solid 2px #d96e5d;
		}

		span{
			color:#34414a;
		}
	
	}
}

.menuHidden{
	background-color : $blue ;
	color : $white ;
	height: 200px;
	position:absolute;
	z-index:3;
	display:none;
	margin-top:-10px;


	.menuChild{

		a:link{
			color : $white-grey ;
			text-decoration: underline;
		}


		li{
			list-style-type : none;
		}

		a{
			color: $white-grey;
			list-style-type : none;
			text-decoration: none;
		}
		a:link{
			color: $white-grey;
			list-style-type : none;	
			text-decoration: none;
		}

		h3{
			// text-align:center;
		}

		ul{
			padding:0px;
		}
	
	}
}

/* Body */

.row{
	position:relative;
}

.imgPlace1{
	padding:0px;
	img{
		max-width:100%;
		z-index: 2 ;
	}
	
}

.negativeMargin{
	margin-left:-100px;
	z-index: 1 ;
	background-color : $white ;
	padding:10px;

	h3{
		margin:0px;
	}
}

.place1{
	background-color : $white ;
}


.search{
	background-color : $brown ;
	text-align:center;
	color : $white ;
	height: 150px;
	display: flex; 

	.searchChild{
		margin:auto;

		a:link{
			color : $white ;
			text-decoration: underline;
		}
		a{
			color : $white ;
			margin:auto;
		}
		input{
			width: 500px;
  			height: 50px;
  			border: solid 2px #d96e5d;
		}

		span{
			color:#34414a;
		}
	}
	
}




.input-group{
	width:500px;
}

.profil{
	padding-top: 30px;
	padding-left: 60px;
}

.input-group-addon{
	padding-left: 18px;
	padding-right: 18px;
	background-color:$white;
	border-radius: 0px;
	border: solid 2px #d96e5d;
}

.lastChange{

	article{
		margin-bottom:50px;
		background-color : $white ;
		padding-left:0px;
		padding-right:30px;

		img{
			max-width:100%;
			height: 300px;
		}

		.string{
			width: 30px;
		  	height: 30px;
		  	transform: rotate(-45deg);
		  	background-color: #ffffff;
		  	position:absolute;
		  	left: 93%;
			top: 10%;
		}
	}

	article:first-of-type{
		display:flex;

		div:first-of-type{
			margin:auto;
			padding-left:0px;
		}
	}

	article:nth-of-type(odd){
		//padding-right:0px;
	}
	
}

.lastNews{
	background-color : $white ;
	

	img{
		 max-width:100%;
	}
	.right{
		float:right;
	}
}

.lastComments{
	article{
		background-color:$white;
		padding:5px;
		margin:20px;
		padding-left:20px;
		position:relative;
	}
}

.changeButton{
	text-align:center;
}

.imageMessage{
	position:absolute;
	opacity: 0.2;
	top:40%;
	left:10%;
}

.about{
	background-color : #ebebeb;
	//padding:20px;
}





/* Footer */

footer{
	background-color: $blue ;
	color : $white-grey ;
	padding-bottom:30px;
	padding-top:30px;

	li{
		list-style-type : none;
		text-align:center; 
	}
	.logo{
		height:65px;
	}
	a{
		color:$white;
		list-style-type : none;
		text-decoration: none;
	}
	a:link{
		color:$white;
		list-style-type : none;	
		text-decoration: none;
	}
	p:first-of-type{
		font-weight: bold;
	}
	button{
		background-color: $blue ;
		color : $white-grey ;
		border: solid 2px #fafafa;
	}
}

